* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

body, a {
  color: #535353;
}

a, button {
  transition: 250ms;
}

a {
  text-decoration: none;
  color: #6c63ff;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #3f3f3f;
}

header {
  border-bottom: 1px solid #c3c5c7;
  padding: 1.75rem 0;
  margin: 0 1rem;
}

.header__container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  margin: 4rem auto 0;
  max-width: 1200px;
}

@media (max-width: 480px) {
  main {
    margin: 4rem 1rem 0;
  }
}
